#aboutContainer {
    background-color: #F3E4E1;
    
}
#aboutContainer > h1 {
padding-top: 100px;    
}

.container img {
    width: 100%;
    
  }
  
  .paragraphs {
    padding-left: 25px;
    padding-right: 25px;
    text-align: left;
    
  }
  
  .brodtxt {
    font-weight: bold;
  }
  