#takeMeBack{
    position: absolute;
    width: 184px;
    height: 55px;
    left: 98px;
    top: 530px;
    background: #b8aaaa;
    top: 250px;
    border-radius: 50px;
}

h1{
    position: absolute;
    left: 45px;
    top: 100px;
}



section{
    background-color:#38846D ;
}


#leftLanding {
    left: -32px;
    top: -156px;
    position: relative; 
 }
#rightLanding {
    
    position: relative;
    left: 32px;
    top: -153px;
  }
  

