#takeMeBack{
    position: absolute;
    width: 184px;
    height: 55px;
    left: 98px;
    
    background: #b8aaaa;
    top: 410px;
    border-radius: 50px;
}

#Errormessage{
    position: absolute;
    left: 27px;
    top: 250px;
}



#ErrorSection{
    background-color:#38846D ;
}


#leftLanding {
    left: -60px;
    top: -2px;
    position: relative; 
 }
#rightLanding {
    
    position: relative;
    left: 70px;
    top: -2px;
  }
  

