.orderContainer{
    overflow:scroll;
    height: 60%;
}
.cart--section {
    background-color: rgba(255, 255, 255, 0.921);
    width: 300px;
    height: 550px;
    position: absolute;
   
    top: 80px;
    left:40px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
  }
  .total--info {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    width: 100%;
    gap: 0.5px;
    margin-right: 10px;
    flex: 1;
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  .item--total {
    margin-bottom: 0px;
    text-align: left;
    flex: 1;
    font-size: 2em;
  }
  .item--dots {
    border-bottom: dotted 3px grey;
    flex: 1;
  }
  .takemyMoney {
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 30px;
    padding: 20px 45px;
    font-size: 1.5em;
    bottom: 30px;
    border: none;
  }
  #order{
    

    
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    /* or 38px */
    
   
    align-items: center;
    text-align: center;
    
  }