body{
  background-color: darkgray;
}
.App {
  position: relative;
  display: flex;
  margin: auto;
  margin-top: 8px;
  width: 375px;
  height: 667px;
  text-align: center;
  background-color: #ffffff;
  flex-direction: column;
  overflow: auto;
  overflow-x: hidden;
  font-family: sans-serif;
  z-index: 0;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}


/*   ****************** Status   ******************  */

.WorkSansText{
  /* font-family: Work Sans; */
  color: #ffffff;
  font-weight: 700 bold;
  size: 16px;
  text-align: center;
}

.orderStatusContainer{
  background-color: #E5674E;
  height: 100%;

}
.orderStatusContainer > button{
  width: 184px;
  height: 55px;
  left: 98px;
  top: 530px;
  
  background: #FFFFFF;
  border-radius: 50px;
}
.orderStatusContainer > h3{
/* font-family: PT serif; */
font-weight: 700 bold;
font-size: 36px;
text-align: center;
}
.orderStatusContainer > p{
 
  }