body {
  color: rgb(247, 201, 208);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Menu--section {
  background-color: aqua;
  display: flex;
  flex-direction: row;
}

.coffee--section {
  background-color: orange;
}

.coffee--title {
  color: hotpink;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.landing-body {
  background-color: rgb(10, 122, 47);
}

.status-body {
  background-color: rgb(248, 69, 69);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  background-color: rgb(41, 44, 44);
  border-radius: 4px;
  padding: 5px;
}

.btn2 {
  background-color: rgb(221, 230, 230);
  border-radius: 4px;
  padding: 5px;
  color: white;
}
