.footer--section {
  max-width: 100%;
  min-width: 100%;
  min-height: 10%;
  max-height: 10%;
  position: absolute;
  bottom: 0;
  background-image: url("../../public/graphics/graphics-footer.svg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}
